<h1 class="text-center">Now Playing Movies</h1>
 <div class="container">
   <div class="row">
     <div class="col-sm-6 col-md-4 col-lg-3 mb-3" *ngFor="let movie of nowPlayingMovies">
       <div class="card">
         <img class="card-img-top" [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" alt="Card image cap">
         <div class="card-body">
           <h5 class="card-title">{{ movie.title }}</h5>
           <p class="card-text">{{ movie.overview }}</p>
           <button type="button" class="btn btn-primary" data-toggle="modal" [attr.data-target]="'#exampleModal' + movie.id">
             Ver detalles
           </button>
         </div>
       </div>
       <div class="modal fade" [id]="'exampleModal' + movie.id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog modal-dialog-centered">
           <div class="modal-content">
             <div class="modal-header">
               <h5 class="modal-title">{{ movie.title }}</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
               </button>
             </div>
             <div class="modal-body">
               <img class="img-fluid" [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" alt="Movie poster">
               <p>{{ movie.overview }}</p>
             </div>
             <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
 
  <h1 class="text-center">Popular Movies</h1>
  <div class="container" style="margin-bottom: 20%;">
    <div class="row">
      <div class="col-sm-6 col-md-4 col-lg-3 mb-3" *ngFor="let moviePopu of popularMovies">
        <div class="card">
          <img class="card-img-top" [src]="'https://image.tmdb.org/t/p/w500' + moviePopu.poster_path" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{ moviePopu.title }}</h5>
            <p class="card-text">{{ moviePopu.overview }}</p>
            <button type="button" class="btn btn-primary" data-toggle="modal" [attr.data-target]="'#exampleModal' + moviePopu.id">
              Ver detalles
            </button>
          </div>
        </div>
        <div class="modal fade" [id]="'exampleModal' + moviePopu.id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">{{ moviePopu.title }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <img class="img-fluid" [src]="'https://image.tmdb.org/t/p/w500' + moviePopu.poster_path" alt="Movie poster">
                <p>{{ moviePopu.overview }}</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  